<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

<system.webServer>  
    <security>  
      <requestFiltering>  
        <requestLimits maxAllowedContentLength="1073741824" />  
      </requestFiltering>  
    </security>  
  </system.webServer>  

  
    <connectionStrings>
      <add name="cnstr1" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Agri_Db;Integrated Security=SSPI"/>
    </connectionStrings>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>

    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" />
   
    </system.web>
 

</configuration>
